@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

html, body {
/* <uniquifier>: Use a unique and descriptive class name
   <weight>: Use a value from 100 to 900 */
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}


/* ====================== header ========================= */
.container-h {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
}
.top-banner img {
  border-radius: 15px;
  width: 90%;
}
.navi {
  display: flex;
  flex-direction: column;
  align-items: center; 
}
.gnb {
  display: flex;
  justify-content: center;
  margin-top: 0.2rem;
}
.gnb>li { 
  width: 160px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 18px;
  position: relative;
} 
.gnb>li:nth-child(2) { width: 150px;}
.gnb>li:nth-child(3) { width: 110px;}
.gnb>li:nth-child(4) { width: 110px;}
.gnb>li:nth-child(5) { width: 110px;}
.gnb>li:nth-child(6) { width: 110px;}

.gnb>li:hover .lnb {
  opacity: 1;
  z-index: 5;
}
.lnb {
  position: absolute;
  left: 0;
  top: 50px;
  opacity: 0;
  z-index: -5;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}
.lnb>li {
  background-color: #d5ab94;
  width: 150px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 18px;
  color: white;
}
.user {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}
.user-menu {
  margin-top: 0.3rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  font-size: 14px;
  text-align: center;
}
.login {
  margin-left: 1.3rem;
  font-size: 14px;
  background-color: rgb(114, 114, 114);
  border-radius: 10px;
  width: 65px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  color: white;
}
/* .gnb>li:hover .lnb { } ==> gnb의 li에 hover를 걸어야 한다.*/
/* lnb에 z-index의 값을 지정해 주어야 한다. */
/* a태그는 상속이 안된다??? font-size, gap은 상속이 되는데... */



/* ====================== banner ======================= */
.banner {
  margin-top: 0.8rem;
}
.banner-img>img {
  width: 100%;
  height: 89vh;
}



/* ==================== main>content01 =================== */
.content01 {
  display: flex;
  justify-content: space-between;
  height: 300px;
}
.left01 {
  width: 40%;
  background-color: #2b3b59;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content:center;
  padding-left: 4rem;
  position: relative;
} 
.left01>img {
  width: 230px;
  height: 253px;
  position: absolute;
  right: 3rem;
  bottom:2.5rem;
}
.left01>p:nth-child(1) {
  font-size: 30px;
  font-weight: bold;
}
.left01>p:nth-child(2) {
  color: #B1B1B1;
}
.left01>p:nth-child(3) {
  color: #B1B1B1;
}
.left01>p:nth-child(4) {
  background-color: white;
  color: #2b3b59;
  font-size: 18px;
  width: 150px;
  height: 35px;
  line-height: 30px;
  border-radius: 20px;
  text-align: center;
  margin-top: 2rem;
}
.right01 {
  width: 60%; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
.box01 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box01>p:nth-child(2) {
  font-size: 18px;
  font-weight: bold;
}
.box01>img {
  position: relative;
  left: 0.5rem;
  padding: 0.5rem;
}
/* 아이디 선택자는 주로 어디에 사용하나??? */
/* background속성 복습*/
/* gap속성이란??? */
/* 이미지 사이즈 크기 조절 다시 복습 */
/* 이미지의 위치를 옮기려면 display: absolute를 이용하면 쉽다. */



/* =================== main>content02 ==================== */
.content02 {
  display: flex;
  justify-content: space-between;
  padding: 4rem 5rem;
  background-color: rgb(236, 236, 236);
}
.left02>img {
  width: 650px;
  height: 320px;
}
.text02 {
  position: relative;
  left: 25rem;
  bottom: 9.7rem;
  background-color: #e84040;
  color: white;
  width: 40%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;
  border-top-left-radius: 30px;
}
.text02 p {
  margin-left: 3rem;
}
.text02>p:nth-child(1) {
  font-size: 25px;
  font-weight: bold;
}
.text02>p:nth-child(4) {
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: rgba(6, 6, 6, 0.7);
  color: white;
}
.right02>iframe {
  width: 650px;
  height: 320px;
}



/* =================== main>content03 ==================== */
.content03 {
  display: flex;
  justify-content: space-around;
  margin: 4rem 5rem;
}
.left03 {
  margin-top: 1rem;
}
.left03>p:nth-child(1) {
  font-size: 30px;
  font-weight: bolder;
}
.left03>p:nth-child(4) {
  font-size: 18px;
  background-color:#e84040;
  width: 150px;
  height: 35px;
  line-height: 30px;
  border-radius: 20px;
  text-align: center;
  margin-top: 2rem;
  color: white;
}

.box03 {
  width: 700px;
  height: 25px;
  /* width:31%; */
  margin-right: 2rem;
  border-bottom: 3px solid #eee; 
  margin: 2rem 0;
}
.box03>a {
  display: flex;
  justify-content: space-between;
}
.box03 p:nth-of-type(2) {
  font-size: 14px;
}

/* overflow: hidden; 속성이란? */



