@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

html, body {
/* <uniquifier>: Use a unique and descriptive class name
   <weight>: Use a value from 100 to 900 */
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal; }


/* ====================== header ========================= */
.container-h {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
}
.top-banner img {
  border-radius: 15px;
  width: 90%;
}
.navi {
  display: flex;
  flex-direction: column;
  align-items: center; 
}
.gnb {
  display: flex;
  justify-content: center;
  margin-top: 0.2rem;
}
.gnb>li { 
  width: 140px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 18px;
  position: relative;
} 
.gnb>li:hover .lnb{
  opacity: 1;
  z-index: 5;
}
.gnb>li:nth-child(3) li {
  padding: 0.5rem 0;
  text-align: center;
  height: 70px;
  line-height: 35px;
}
.gnb>li:nth-child(3) li:nth-child(5) {
  height: 105px;
  line-height: 35px;
}
.lnb {
  position: absolute;
  left: 0;
  top: 50px;
  opacity: 0;
  z-index: -5;
  transition-property: all;
  transition-duration: 0.5s;
}
.lnb>li {
  background-color: #e8aa92;
  width: 150px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 18px;
  color: white;
  padding: 0.3rem 0;
}
.lnb>li:hover {
  background-color: rgb(159, 159, 159);
}
.line {
  border: 0;
  border-top: 2px solid rgb(232, 232, 232);
}
.user {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}
.user-menu {
  margin-top: 0.3rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  font-size: 14px;
  text-align: center;
}
.login {
  margin-left: 1.3rem;
  font-size: 14px;
  background-color: rgb(114, 114, 114);
  border-radius: 10px;
  width: 65px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  color: white; }
/* .gnb>li:hover .lnb { } ==> gnb의 li에 hover를 걸어야 한다.*/
/* .lnb에 z-index의 값을 지정해 주어야 한다. */


/* ====================== banner ======================= */
.banner {
  margin-top: 0.8rem;
}
.banner img {
  width: 100%;
  height: 89vh;
  display: block; }


/* ==================== main>content01 =================== */
.content01 {
  display: flex;
  justify-content: space-between;
  height: 300px;
}
.left01 {
  width: 40%;
  background-color: #2b3b59;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content:center;
  padding-left: 4rem;
  position: relative;
} 
.left01>img {
  width: 230px;
  height: 253px;
  position: absolute;
  right: 3rem;
  bottom:2.5rem;
}
.left01>p:nth-child(1) {
  font-size: 30px;
  font-weight: bold;
}
.left01>p:nth-child(2) {
  color: #B1B1B1;
}
.left01>p:nth-child(3) {
  color: #B1B1B1;
}
.left01>p:nth-child(4) {
  background-color: white;
  color: #2b3b59;
  font-size: 18px;
  width: 150px;
  height: 35px;
  line-height: 30px;
  border-radius: 20px;
  text-align: center;
  margin-top: 2rem;
}
.right01 {
  width: 60%; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
.box01>a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box01>a>p:nth-child(2) {
  font-size: 18px;
  font-weight: bold;
}
.box01>a>img {
  position: relative;
  left: 0.5rem;
  padding: 0.5rem; }
/* 이미지의 위치를 옮기려면 display: absolute를 이용하면 쉽다. */
/* 아이디 선택자 ==> 1)문서의 레이아웃과 관련된 스타일을 지정할 때 사용
                     2)요소에 자바스크립트를 사용하고자 할 때 요소를 구별하기 위해 사용 */
/* 이미지의 크기 조절 ==>  width, height 속성을 사용하며 단위는 % 또는 px 를 사용한다. 
                          ( %의 경우 웹브라우저창의 너비와 높이를 기준으로 한다.)  
                      ==>  배경이미지는 background-size속성으로 크기를 조절한다. 
                          (contain, cover, %, px 을 사용할 수 있는데 %의 경우 요소의 크기를 기준으로 한다. */
/* gap속성 ==> 마진처럼 요소에 여백을 주기 위해 사용한다.   
               (단, gap속성은 상하좌우에 인접한 요소가 있는 쪽에만 값이 지정이 된다.) */

               
/* =================== main>content02 ==================== */
.content02 {
  display: flex;
  justify-content: space-between;
  padding: 5.5rem 4.5rem 0 4.5rem;
  background-color: rgb(236, 236, 236);
}
.left02>img {
  width: 650px;
  height: 320px;
}
.text02 {
  position: relative;
  left: 25rem;
  bottom: 9.7rem;
  background-color: #e84040;
  color: white;
  width: 40%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;
  border-top-left-radius: 30px;
}
.text02 p {
  margin-left: 3rem;
}
.text02>p:nth-child(1) {
  font-size: 25px;
  font-weight: bold;
}
.text02>p:nth-child(4) {
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: rgba(6, 6, 6, 0.7);
  color: white;
}
.right02>iframe {
  width: 650px;
  height: 320px; 
}


/* =================== main>content03 ==================== */
.content03 {
  display: flex;
  justify-content: space-around;
  margin: 4rem 5rem;
}
.left03 {
  margin-top: 1rem;
}
.left03>p:nth-child(1) {
  font-size: 30px;
  font-weight: bolder;
}
.left03>p:nth-child(4) {
  font-size: 18px;
  background-color:#e84040;
  width: 150px;
  height: 35px;
  line-height: 30px;
  border-radius: 20px;
  text-align: center;
  margin-top: 2rem;
  color: white;
}
.box03 {
  width: 700px;
  height: 25px;
  line-height: 25px;
  margin-right: 2rem;
  border-bottom: 3px solid #eee; 
  margin: 2rem 0;
  font-size: 18px;
}
.box03>a {
  display: flex;
  justify-content: space-between;
}
.box03 p:nth-of-type(1) {
 line-height: 20px;
}
.box03 p:nth-of-type(2) {
 font-size: 14px;
}
/* overflow 속성 ==> 자식요소가 부모요소의 범위를 벗어날 때 자식요소를 제어하는 속성이다. 
                     ( visible, hidden, auto, scroll 속성값을 사용할 수 있다.) */


/* ================= main>content04 ================ */
.box04>img {
  width: 100%;
  height: 350px;
}


/* =================== footer ==================== */
.f-top {
  display: flex;
  justify-content: space-between;
  background-color: #eeeded;
  height: 60px;
}
.top-left {
  display: flex;
  justify-content: flex-start;
  height: 40px;
  margin-left: 6rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
.top-left>p {
  font-size: 16px;
  height: 40px;
  line-height: 40px;
}
.top-left>img {
 height: 40px;
 margin-right: 2rem;
}
.top-right {
  margin-right: 6rem;
  margin-bottom: 10px;
}
.family-site>button {
  height: 50px;
  width: 200px;
  line-height: 50px;
  text-align: center;
  background-color: #c6c6c6;
  border: 0; 
  letter-spacing: 1.5px;
}
.family-navi {
  height: 120px;
  display: none;
  overflow: auto;
}
.family-navi>li {
  position: relative;
  z-index: 5;
  height: 40px;
  font-size: 14px;
  text-align: center;
  line-height: 40px;
  background-color: #e7e7e7;
  border-bottom: 2px dashed white;
}
.family-navi>li:hover {
  background-color:forestgreen;
  color: white;
}
.family-navi>li:nth-child(6) {
  border: 0;
}
.f-bottom {
  display: flex;
  justify-content: space-between;
  background-color: #eeeded;
}
.f-bottom p {
  font-size: 14px;
}
.bottom-left {
  margin-left: 6rem;
  margin-top: 0.5rem;
}
.bottom-left>ul {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0.3rem;
}
.bottom-left li {
  margin-right: 0.5rem;
  font-size: 14px;
}
.bottom-right {
  margin-right: 6rem;
  margin-top: 2rem;
}



